body {
  background-color: #c2c2c2;
  font-family: Arsenal;
  margin: 0px 0px 50px 0px;
}

header {
  font-family: Antonio;
  border-radius: 50px;
  display: flex;
  flex-flow: row nowrap;
  background-color: #a7c0ff;
  width: 100%;
}

header div {
  /* margin: 50px 0 50px 30px; */
  margin-left: 10px;
  /* position: relative; */
  align-self: center;
  /* -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
}

nav a {
  color: rgb(0, 27, 180);
  font-size: x-large;
  text-decoration: none;
  padding: 3%;
}

nav a:hover {
  color: rgb(0, 110, 255);
}

main {
  position: relative;
  top: 20%;
  text-align: center;
  font-size: 200%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-content: center;
}

main a {
  font-weight: bold;
  font-size: 200%;
  text-decoration: none;
  text-shadow: 2px 2px 2px black;
  color:rgb(68, 184, 78);
  background-color: #b7c3e2;
  border: 2px black solid;
  border-radius: 10px;
  box-shadow: 4px 4px 3px rgb(85, 85, 85);
  padding: 2%;
  width: 30%;
  min-width: 200px;
  position: relative;
  left: 35%;
}

main a:hover{
  background-color: #e4eafa;
}

footer {
  background-color: #6a737c;
  position : fixed;
  bottom: 0;
  width: 100%;
  height: relative;
  min-height: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color:rgb(255, 255, 255);
  text-shadow: 2px 2px 2px black;
  margin-left: 5px;
  margin-right: 5px;
}

table {
  color:rgb(59, 59, 59);
  border-collapse: collapse;
  border: 2px solid rgb(100, 100, 100);
  font-family: sans-serif;
  font-size: .8em;
  margin:20px 20px 20px 20px;
  box-shadow: 8px 6px 8px rgb(99, 99, 99);
}

td, th {
  border: 1px solid rgb(100, 100, 100);
  padding: 10px 10px;
}

th {
  background-color: rgb(0, 255, 55);
  text-shadow: 1px 2px 4px rgb(114, 114, 114);
}

th:nth-child(1){
  background-color: rgb(76, 180, 180);
  width: 30%;
}

th.vide{
  background-color:transparent;
}

td {
  font-weight: bolder;
  text-align: center;
  background-color: rgb(135, 222, 222);
  text-shadow: 1px 1px 2px rgb(68, 68, 68);
}

.pour{
  color:rgb(40, 189, 77);
}

.contre{
  color:rgb(255, 106, 106);
}