body {
  background-color: #b9dfcb;
  font: bold;
  font-family: Roboto, Oxygen, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
  padding: 0;
}
header {
  display: flex;
  flex-flow: row nowrap;
  background-color: #cddbff;
}
nav {
  display: flex;
  flex: 1;
}
.nav {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}
ul {
  list-style-type: none;
}
.nav li {
  border: 1px solid grey;
  border-radius: 40px;
  margin-right: 3%;
  padding: 1%;
  background-color: rgb(0, 27, 180);
  text-align: center;
}
.nav li:hover {
  background-color: rgb(0, 33, 221);
}
a {
  color: #f0f8ff;
}
.hook {
  text-align: center;
  text-size-adjust: 100%;
}
button {
  size: 40%;
}
